
$mediaBp1Width: 975px;
$mediaBp2Width:600px;
$mediaBp3Width: 768px;
$mediaBp4Width: 414px;

a:-webkit-any-link  {
  text-decoration: none;
}


h2{
  color: #043e46;
}


@media (min-width: 1000px){
  .container{
    margin-top:100px;
  }
  .app-titles{
    white-space: nowrap
  }

  #quest-box{
    margin-top:10px
  }

}



@media (max-width: 1000px){

  .container{
    margin: auto;
  }
  .app-titles h2{
    font-size: 2.8em;
    float: none;
    margin: 0 auto;
  }


}

@media (max-width: $mediaBp1Width) {


  .specialcontainer{
    height:700px;
  }



  .mdl-layout__header-row {
    height: 65px;
  }


  .title h6{
    font-size: .75em
  }

  .mdl-navigation a {
    font-size:.75em
  }



  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .fixedContainer {
    margin-top: 3%;
    display: inline-block;
  }

  .logo-group {
  padding-bottom: 3em;
}

  #something3 video{
    position: relative;
  }



  .logo-group{

    text-wrap: normal;
    margin: auto;
    padding: 10px;
  }

  h2 {
    margin:auto;
  }

  #green {
    height: 1100px;
  }


}

@media (max-width: $mediaBp3Width) {




  .specialcontainer{
    height:1000px;
  }

  .title h6 {
    font-size: .55em;
  }

  .mdl-navigation a {
    font-size: .55em;
  }

  #something{
    padding-right: 7%
  }
}

@media (max-width: $mediaBp2Width){


  #background{
    height: 450px;
    background-size: 150%;
  }

  .title h6 {
    font-size: .5em;
  }

  .app-titles{
    white-space: normal;
  }

  .mdl-layout__header-row  .mdl-navigation__link{
    display: none;
  }
  .added{
    display:inline;
  }


  .app-titles h2{
    font-size: 2em;
  }

  .logo-group{

    text-wrap: normal;
    margin: auto;
    padding: 10px;
  }

  #something3 {
    margin: auto;
    transform: none;
  }

  .fixedContainer{
    all: initial;
  }


  .vertical-center{
    all: initial;
    margin: auto;
  }
  video{
    width:70%;
  }

  .logo-group{
    display: none;
  }


}

@media (max-width: $mediaBp4Width){





  .small-row  {
    width:100%;
    font-size: .5em;
    margin-right: -15px;
    margin-left: -15px;
  }

  .small-row:after{
    content: "";
    display: table;
    clear: both;

  }

  .small-row:before{
    content: "";
    display: table;
    clear: both;

  }


}